__pycache__
score_pipeline
score_follower/sf_track
score_follower/tl
feature_gen/output
gutim_1/output
gutim_1/caw
gutim_1/edits/pedal_archive
gutim_2/a/output
gutim_2/a/edits/pedal_archive
gutim_2/b/output
gutim_2/b/edits/pedal_archive
gutim_2/c/output
gutim_2/c/edits/pedal_archive
gutim_2/v1
scriabin_74_4/output
scriabin_74_4/edits/pedal_archive

